*.swp
*.etc
.DS_Store

Plugin/src/android/Library/bin
Plugin/src/android/Library/build
Plugin/src/android/build
Plugin/src/android/Library/libs/
Plugin/src/android/Library/gen
Plugin/src/android/Library/local.properties
Plugin/Assets/Plugins/Android/AdColony*
Plugin/Assets/Plugins/Android/libs/
Plugin/Assets/Plugins/iOS/AdColony*
Plugin/src/android/.settings/
Plugin/src/android/Library/.classpath
Plugin/src/android/Library/.settings/

Sample/Library
Sample/Temp
Sample/Assets/AdColony*
Sample/Assets/PlayServicesResolver*
Sample/Assets/Plugins
Sample/UnityPackageManager/

tmp.*
scripts/*.log
*.unitypackage
*.apk
**/obj/Debug
*.log
.project

**/AdColony-Android-SDK-3
**/AdColony-iOS-SDK-3

**/Assembly-CSharp-Editor.csproj
**/Assembly-CSharp-firstpass.csproj
**/Assembly-CSharp.csproj

*.csproj
.vscode

.gradle

