*.swp
*.etc
*.DS_Store
src/android/Library/bin
src/android/Library/gen
src/android/Library/local.properties
tmp.*
scripts/*.log
*.unitypackage
*.apk

# typical build folders
ios-build/
android-build/

**/obj/Debug
*.log
.project

**/AdColony-Android-SDK-3
**/AdColony-iOS-SDK-3

**/Assembly-CSharp-Editor.csproj
**/Assembly-CSharp-firstpass.csproj
**/Assembly-CSharp.csproj

*.csproj

.gradle

