*.swp
*.etc
.DS_Store
Assets/Plugins/Android/libs
Assets/Plugins/libs
Assets/Plugins/iOS/AdColony/AdColony.framework
src/android/Library/bin
src/android/Library/build
src/android/build
src/android/Library/gen
src/android/Library/local.properties
tmp.*
scripts/*.log
*.unitypackage
*.apk

**/obj/Debug
*.log
.project

**/AdColony-Android-SDK-3
**/AdColony-iOS-SDK-3

**/Assembly-CSharp-Editor.csproj
**/Assembly-CSharp-firstpass.csproj
**/Assembly-CSharp.csproj

*.csproj

.gradle

